body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #f4f4f4;
  }
  .sidebar {
    width: 200px;
    height: 100vh;
    background-color: #012d5e;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    text-align: center;
  }
  .sidebar h2 {
    margin-bottom: 5px;
    letter-spacing: 1px;
  }
  .admin-profile {
    margin-bottom: 10px;
  }
  .admin-profile img {
    width: 80px;
    height: 70px;
    border-radius: 50%; 
    object-fit: cover;
    border: 2px solid #fff;
  }
  .admin-profile p {
    margin-top: 10px;
  }
  .sidebar a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
  }
  .sidebar a:hover {
    background-color: #34495e;
  }
  .main {
    margin-left: 200px;
    padding: 60px 20px 20px 20px; 
  }
  #clock-container {
    position: absolute; /* was fixed */
    top: 0;
    right: 0;
    margin-bottom:10px;
    margin-top: 15px;
    margin-right: 20px;
  }
  #clock-icon {
    margin-right: 6px;
    font-size: 18px;
  }

  .welcome-section {
    background-color: #e8f0fe;
    padding: 15px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .welcome-section h2 {
    margin: 0 0 5px;
    color: #001524;
    letter-spacing: 1px;
  }
  
  .welcome-section p {
    margin: 0;
    color: #012d5e;
  }
  .search-bar {
    float: right;
    padding: 8px 12px;
    margin-bottom: 15px;
    border: 2px solid #001524;
    border-radius: 20px;
    outline: none;
  }
  
  .card-container {
    display: flex;          
    flex-wrap: wrap;     
    gap: 20px;           
  }
  
  .card {
    background-color: white;
    padding: 20px 15px;             
    width: calc(30% - 20px);        
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    box-sizing: border-box;
    text-align: center;
    min-height: 120px;              
  }
  
  .card i {
    font-size: 22px;
    color: #2c3e50;
    margin-bottom: 8px;  
  }
  
  .card h3 {
    margin: 5px 0;        
    font-size: 16px;
    color: #001524;
    letter-spacing: 1px;
  }
  
  .card p {
    font-size: 14px;
    margin: 0;
    color: #012d5e;
    letter-spacing: 1px;
  }
  
  .card:hover {
    background-color: #f4f4f4;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);  /* Slight raise effect */
    transition: all 0.3s ease-in-out;
  }
  
  .progress-bar {
    width: 70%;
    background-color: #ddd;
    border-radius: 10px;
    margin: 0 auto 10px; /* Center horizontally and keep bottom margin */
  }
  
  
  .progress {
    height: 20px;
    background-color: #4caf50;
    border-radius: 10px;
  }
  .tag {
    background-color: #e74c3c;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
    margin-top: 10px;
    display: inline-block;
  }
  
  .critical {
    background-color: #e74c3c;
  }
  
  @media (max-width: 768px) {
    .card {
      width: 100%;  
    }
}
